/* static/css/estilos.css */
body { 
    background-color: #f8f9fa; 
}
.card { 
    margin-top: 50px;
}
.completada { 
    text-decoration: line-through; 
    color: #6c757d; 
}
.btn-success {
    background-color: #092e20 !important;
    border-color: #092e20 !important;
}